*{ 
    font-family:  'Montserrat', sans-serif;
    margin: 0;
    padding: 0;   
}
/*HEADER CSS<<<<<<<<<<<<<<<<<<<<*/
header{
    width: 100%;
    height: 70px;
    background-color: #2C3A47;
    position: fixed;
    z-index: 2;
}
header a{
    text-decoration: none;
    color: whitesmoke;
}
.logo{
    width: 600px;
    line-height: 70px;
    display: inline-block;
}
.logo h1{
    font-size: 25px;
    padding-left: 20px;
    line-height: 70px;
    float: left;
}
.navmenu{
    width: auto;
    height: 70px;
    float: right;
    line-height: 70px;
    padding-right:20px;
}
.navmenu a{
    display: inline-block;
    padding: 0 20px;
}
.navmenu h2{
    font-size: 15px;
    display: inline-block;
    font-weight: 600;
}
.navmenu a:hover{
    background-color: #FF7260;
    transition: .5s;
}
/*SOLMENU CSS <<<<<<<<<<<<<<<<<<<<<*/
.solmenu{
    width: 20%;
    height: auto;
    position: fixed;
    top: 90px;
    left: 0;
    box-shadow: 0 10px 30px #e0e0e0;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
}
.solaramatxtdiv{
    width: 70%;
    height: auto;
    margin: auto;
    text-align: center;
}
.solaramatxt{
    border-style: none;
    width: 100%;
    height: 40px;
    border: 1px solid #d6d6d6;
    border-radius: 30px;
    padding-left: 10px;
    outline: none;
}
.solaramatxt:hover{
    border-color: #eb8a3c;
    transition: .7s;
}
.solaramabtn{
    width: 30%;
    height: auto;
    padding: 10px 20px;
    border-style: none;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 15px;
    margin-top: 30px;
    outline: none;
}
.solaramabtndiv{
    width: 100%;
    text-align: center;
}
.solaramabtn:hover{
    width: 40%;
    transition: .5s;
    border-color: #FF7260;
    color: #FF7260;
    cursor: pointer;
}
/*SAG DIV CSS<<<<<<<<<<<<<<<<<<<<<<*/
.sagmenu{
     width: 20%;
    height: 70%;
    position: fixed;
    top: 90px;
    right: 0;
    box-shadow: 0 10px 30px #e0e0e0;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    overflow-y: scroll;
}
.sorukutusu{
    width: 100%;
    height: 100px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: auto;
    overflow: hidden;
    color: gray;
    padding: 5px;
    margin: 10px 0;
}
.sorukutusu a{
    color: #668b8a;
    text-decoration: none;
}
.sorukutusu a:hover{
    color: #9fb083  ;
}
.container{
    width: 55%;
    height: 1000px;
    box-shadow: 0 10px 30px #e0e0e0;
    padding: 20px 10px;
    margin: auto;
}
.containerimg{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1200px ) {
    
    .solmenu{
        display: none;
    }
    .sagmenu{
        display: none;
    }
    .container{
        width: 92%;
    }
    .logo h1{
        font-size: 15px;
    }
    .navmenu{
        padding: 0;
    }
    
    
}
