*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

.cont1bg{
    background-color: #dfe6e9;
    position: absolute;
    transform: translate(-50%,0);
    left: 50%;
    top: 0;
    width: 100%;
    z-index: 10;
    min-width: 900px;
    min-height: 400px;
}
.cont1{
    width: 50%;
    max-width: 1000px;
    min-width: 900px;
    min-height: 400px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}
.cont1sol{
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}
.cont1sag{
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.cont1sag h1{
    font-weight: bold;
    font-size: 35px;
    color: #404040;
}

.cont2bg{
    background-color: #2d3436;
    position: absolute;
    transform: translate(-50%,0);
    left: 50%;
    top: 470px;
    z-index: 9;
    width: 100%;
    min-width: 900px;
    min-height: 400px;
}
.cont2{
    width: 50%;
    max-width: 1000px;
    min-width: 900px;
    min-height: 400px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}
.cont2sol{
    width: 100%;
    height: 100%;
    text-align: center;
    color: whitesmoke;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.cont2sag{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}
.cont2sag h1{
    font-weight: bold;
    font-size: 35px;
    color: whitesmoke;
}

.cont3bg{
    background-color: #e17055; position: absolute;
    transform: translate(-50%,0);
    left: 50%;
    top: 975px;
    z-index: 8;
    width: 100%;
    min-width: 900px;
    min-height: 400px;
}
.cont3{
    width: 50%;
    max-width: 1000px;
    min-width: 900px;
    min-height: 480px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}
.cont3sol{
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}
.cont3sag{
    width: 100%;
    height: 100%;
    text-align: center;
    color: whitesmoke;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.cont3sag h1{
    font-weight: bold;
    font-size: 35px;
    color: whitesmoke;
}
