*{
    margin: 0;
    padding: 0;
    font-family:  'Montserrat', sans-serif;
}
header{
    background-image: url("/img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    color: #2C3A47;
    font-weight: 600;
    max-width: 1920px;
    margin: auto;
    z-index: -5;
}
.logo img{
    float: left;
    margin:10px 20px 10px 120px;
}
.navbar{
    float: right;
    height:70px;
    line-height: 70px;
    margin-right: 110px;
    opacity: .6;
}
.navbar ul li{
    list-style: none;
    float: left;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.navbar ul a:hover{
    color: firebrick;
    transition: .5s;
}
.navbar ul li a{
    text-decoration: none;
    color: #404040;
}
.navbar input{
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor:pointer;
    font-weight: 600;
    outline: none;
    -webkit-appearance: none;
}
.navbar input:hover{
    background-color: #2C3A47;
    transition: .5s;
    
}
header h1{
    position: absolute;
    transform: translate(50%,50%);
    top: -90px;
    width: 250px;
    font-size: 55px;
}
#blur{
    background-color: gray;
    opacity: .7;
    z-index: 1;
    border: none;
    border-radius: 5px;
    
}
.form{
    width: 400px;
    height: 550px;
    display: block;
    background-color: transparent;
    position: absolute;
    transform: translate(50%,50%);
    left: 40%;
    text-align: center;
    z-index: 5;
    color: whitesmoke;
    border-radius: 5px;
    
}
.form .txt{
    width: 80%; 
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    -webkit-appearance: none;
    color: whitesmoke;
}
.form p{
    float: left;
    margin: 30px 0 10px 30px;
}
.form .createaccount{
    width: 70%;
    height: 40px;
    background-color: #1B9CFC;
    border: none;
    color: whitesmoke;
    font-weight: 500;
    border-radius: 5px;
    font-size: 17px;
    outline: none;
    cursor: pointer;  
    -webkit-appearance: none;
}
.form .createaccount:hover{
    background-color: #2e8ed3;
    transition: .5s;
}
.cont1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
    max-width: 1920px;
    column-gap: 10px;
}
.cont1sol{
    margin: auto;
}
.cont1sag{
    margin: auto;
}
.cont2{
    margin: auto;
    width: 100%;
    max-width: 1920px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    text-align: center;
    background-color: #F7F7F9;
    color: #2C3A47;
}
.cont2ustsol{
    padding: 50px;
    width: 40%;
    margin: auto;
}
.cont2ustsag{
    padding: 50px;
    width: 40%;
    margin: auto;
}
.cont2alt{
    padding: 50px;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 40%;
    margin: auto;
}
.cont3{
    margin: auto;
    text-align: center;
    padding: 100px;
}
.cont3btn{
    margin-top: 20px;
    padding: 10px 10px;
    color: whitesmoke;
    background-color: forestgreen;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    -webkit-appearance: none;
    font-size: 17px;
}
footer{
    width: 100%;
    padding: 10px 0;
    max-width: 1920px;
    background-color: #F7F7F9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: auto;
}
footer a{
    font-weight: bold;
    color: #FD7272;
    text-decoration: none;
}
footer .footersocial{
    color: #2C3A47;
    font-size: 20px;
}
.footeralt{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 10px;
    padding-top: 50px;
}
@media screen and (max-width:1200px){
    .logo img{
    height: 70px;
    margin:10px 20px 10px 20px;
}
   .navbar{
    height:70px;
    line-height: 80px;
    margin-right: 20px;
} 
    .form{
    width: 350px;
    height: 550px;
    position: absolute;
    transform: translate(50%,50%);
    left: 40%;
    text-align: center;
}
    container .cont1{
        grid-template-columns: 1fr;
    }
    .cont1icerik img{
    width: 550px;
}
    .cont2ustsag{
        width: 70%;
    }
    .cont2ustsol{
        width: 70%;
    }
    .cont2alt{
        width: 70%;
    }
    footer a{
        font-size: 8px;
    }
    footer .footersocial{
        font-size: 16px;
    }
    footer h3{
        font-size: 16px;
    }
    .footeralt{
        font-size: 12px;
    }
}
