*{
    font-family:  'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.contmiddle-header{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 6fr 1fr;
}
.contmiddle-header-left{
    font-weight: bold;
    font-size: 24px;
}
.contmiddle-header-right{
    padding-top: 12px;
    text-align: right;
    font-weight: 300;
    color: gray;
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.lastpage{
    font-weight: 500;
    font-size: 15px;
}
.contmiddle-header-right a{
    color: gray;
}
.contmiddle-header-right i{
    font-size: 15px;
    padding-left: 10px;
    text-align: center;
    color: black;
}
.contmiddle{
    border-top: 1px solid #DDDDDD;
    margin: auto;
    padding-top: 12px;
    width: 90%;
    height: auto;
    display: grid;
    
}
.contmiddle-top{
    font-size: 15px;
    margin-bottom: 20px;
}
.contmiddle-bottom{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.contmiddle-bottom-left{
    text-align: left;
}
.contmiddle-bottom-left i{
    color: gray;
    margin: 0 7px;
}
.contmiddle-bottom-left i:nth-child(1){
    color: #4867AA;
}
.contmiddle-bottom-left i:nth-child(2){
    color: #00ACED;
}
.contmiddle-bottom-left i:nth-child(3){
    color: green;
    margin: 7px;
    padding-left: 20px;
}
.contmiddle-bottom-left i:nth-child(4){
    color: firebrick;
    margin: 7px;
}
.contmiddle-bottom-left i:nth-child(5){
    color: orange;
}
.contmiddle-bottom-right {
    text-align: right;
    line-height: 30px;
}
.contmiddle-bottom-right div{
    display: inline-block;
    font-size: 11px;
    letter-spacing: 1px;
}
.contmiddle-bottom-right div:nth-child(3){
    color: green;
    font-weight: 400;
    font-size: 13px;
    padding-left: 20px;
}
.contmiddle-bottom-right i{
    color: #233142;
    font-size: 10px;
    border: 1px solid #233142;
    border-radius: 50%;
    padding: 4px;
}

@media screen and (max-width:1200px){
    .contmiddle{
        margin-bottom: 50px;
    }
    .contmiddle-header-left{
        font-size: 60px;
    }
    .contmiddle-header-right{
        font-size: 40px;
    }
    select{
        font-size: 40px;
        width: 100px;
        height: 60px;
    }
    option{
        font-size: 20px;
    }
    .lastpage{
        font-size: 50px;
        line-height: 60px;
        margin-left: 10px;
    }
    .contmiddle-header-right a{
        font-size: 50px;
        line-height: 60px;
        color: #233142;
    }
    .contmiddle-header-right i{
        font-size: 50px;
        padding-left: 30px;
    }
    .contmiddle-top{
        font-size: 13px;
        margin-bottom: 20px;
    }
    .contmiddle-bottom-left i{
        font-size: 35px;
    }
    .contmiddle-bottom-left i:nth-child(3){
        margin-left: 40px;
    }
    .contmiddle-bottom-left i:nth-child(5){
        margin-left: 50px;
    }
    .contmiddle-bottom-right div{
        font-size: 30px;
        line-height: 50px;
    }
    .contmiddle-bottom-right div:nth-child(3){
        font-size: 35px;
        color: green;
    }
    .contmiddle-bottom-right i{
    color: #233142;
    font-size: 10px;
    width: 35px;
    height: 35px;
    border: 1px solid #233142;
    border-radius: 50%;
    padding: 4px;
    line-height: 12px;
    text-align: center;
}

}

















